@import './../../../../styles/scss/mixins';
@import './../../../../styles/scss/variable';

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  z-index: 999;

  a {
    display: block;
    margin: 0 20px;
    @include text($secondTextFontFamily,$linkFontSize,1em,300,$textColor);
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      color: $primaryColor;
    }
  }
}


@media screen and (max-width: 480px) {
  .nav {
    width: 100%;
    margin: 0;
    justify-content: space-between;

    a {
      margin: 0 auto;
    }
  }
}