@import './../../../../styles/scss/mixins';
@import './../../../../styles/scss/variable';

.mainTitle {
  @include flexCenter;
  margin-bottom: 50px;

  h4 {
    text-transform: uppercase;
    @include text($secondTextFontFamily,$primaryTitleFontSize,$titleLineHeight,$titleFontWeight,$secondColor);

    span {
      color: $primaryColor;
    }
  }
}