.footer {
    background: #867878;
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 400px;
    margin: 0 auto 50px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background: #ccc;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .social{
        height: 40px;
        width: 200px;
        margin: 0 auto 20px;
    }
}